header{
    position: fixed;
    width: 100%;
    height: 70px;
    font-size: 1rem;
    z-index: 1000;
  }
  .navbar{
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  header.active{
    background-color: #fff;
  }
  .branding-logo{
    font-size: calc(0.8rem + 1vw);
    text-decoration: none;
  }
  .branding-logo img{
    width: 270px;
  }
  .menu{
    display: flex;
    flex-direction: row;
  }
  .menu li{
    list-style: none;
  }
  .menu li a{
    display: block;
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity));
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    transition: .5s;
    text-transform: uppercase;
  }
  .has-dropdown{
    position: relative;
  }
  .submenu{
    position: absolute;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.08);
    padding: 1em 0;
    width: 20em;
    /* hide submenu */
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
  }
  .submenu > li >a{
    padding: 0.5em 1.5em;
    font-size: 1.1rem;
    background-color: #fff;
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity));
  }
  
  .submenu .submenu{
    left: -100%;
    top: 0;
  }
  .menu > li:hover>a, .submenu > li:hover > a{
    background-color: #CE2027;
    color: #fff;
    border-radius: 5px;
  }
  .menu > li:hover > a + .submenu, 
  .submenu > li:hover > a + .submenu{
    opacity: 1;
    transform: scaleY(1);
}
  /* arrow */

  .arrow{
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    margin-top: -0.37em;
    margin-left: 7px;
    transition: transform 100ms ease-in-out;
  }
    /*animate arrow*/
.menu > li:hover > a > .arrow,
.submenu > li:hover > a > .arrow{
transform:  rotate(225deg);
}
.hamburger-menu-container{
    position: relative;
    display: none;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }
  .hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: black;
    position: relative;
    z-index: 1001;
    transition: .5s;
    left: 20px;
  }
  .hamburger-menu div:before,
  .hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: black;
    border-radius: 3px;
    transition: .5s;
  }
  .hamburger-menu div:before{
    transform: translateY(-7px);
  }
  
  .hamburger-menu div:after{
    transform: translateY(7px);
  }
  #check{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
  }
  #check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
  }
  
  #check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
  }
  
  #check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
  }
  @media only screen and (max-width: 78.75em){
    .submenu{
      min-width: 16em;
    }
    .menu li a{
        font-size: 1rem;
      }
    .branding-logo img{
      width: 230px;
    }
  }
  @media only screen and (max-width: 58.75em){
    .menu li a{
      font-size: .8rem;
    }
    .branding-logo img{
      width: 200px;
    }
  }
  @media only screen and (max-width: 50em){
    .hamburger-menu-container{
      display: flex;
  }
  #check{
    display: block;
  }
  header{
    position: relative;
    padding: 1em 1em;
   }
   .branding-logo img{
    width: 180px;
   }
   .menu{
    flex-flow: column;
    position: absolute;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    top: 4.55em;
    left: -100%;
    opacity: 0;
    right: 0;
    height: 100vh;
   }
   #check:checked ~ .menu{
    left: 0;
    opacity: 1;
  }
  .menu > li > a{
    font-size: 1rem;
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity));
   }
   .submenu > li> a{
    font-size: 1rem;
   }
   .submenu{
    top: 0;
    padding-left: 1.5em;
    border-left: 0.12em dotted hsla(342, 99%, 45%, 0.95);
   }
   .submenu .submenu{
    left: 0;
    top: 0;
   }
   .submenu .submenu .submenu{
    left: 0;
    top: 0;
   }
   .menu > li:hover > a + .submenu,
   .submenu > li:hover > a + .submenu{
    position: relative;
   }
}