$u: 1.25;
$d: 15em;
$p: .5em;
$o: 1.25em;
$l: 6px;

article {
    
	--c: #{mix(#fff, #CE2027, 25%, )};
	--s0: calc(#{$o} + #{$l});
	--s1: calc(#{$o} + #{$l} + #{$p});
	place-self: center;
	position: relative;
	width: $d; height: $d;
	border: solid 0 transparent;
	border-width: 0 var(--s0) var(--s0) 0;
	padding: var(--s1) $p $p var(--s1);
	background: var(--c) padding-box;
    color: #fff;

	
	
	&::before {
		position: absolute;
		top: 0; left: 0;
		border: inherit;
		border-width: $o 0 0 $o;
		width: $d; height: $d;
		box-shadow: inset 0 0 0 $l #CE2027;
		mix-blend-mode: difference;
		pointer-events: none;
		content: '';
        z-index: -1;
      
	}
}

article h3 {
	font-size: 1.5em;
	font-weight: 900;
	line-height: 1.75;
    font: 100 #{$u*1em}/ 1.25 handlee, 
    z003,  'Courgette', cursive;
    padding-bottom: 5px;
}

#article{
    --tw-text-opacity: 1;
	--s0: calc(#{$o} + #{$l});
	--s1: calc(#{$o} + #{$l} + #{$p});
	place-self: center;
	position: relative;
	width: $d; height: $d;
	border: solid 0 transparent;
	border-width: 0 var(--s0) var(--s0) 0;
	padding: var(--s1) $p $p var(--s1);
	background: rgb(36 62 99 / var(--tw-text-opacity)) padding-box;
    color: #fff;

    &::before {
        --tw-text-opacity: 1;
		position: absolute;
		top: 0; left: 0;
		border: inherit;
		border-width: $o 0 0 $o;
		width: $d; height: $d;
		box-shadow: inset 0 0 0 $l rgb(36 62 99 / var(--tw-text-opacity));
		mix-blend-mode: difference;
		pointer-events: none;
		content: '';
        z-index: -1;
      
	}
}