/* Section One Products*/

.product_hero_section{
    padding: 120px 0;
    position: relative;
}
.col1{
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 25%;
    flex-basis: 25%;
}
.col2{
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 75%;
    flex-basis: 75%;
}
.product__hero-img {
    max-width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
  }
  @media screen and (max-width: 768px) {
    .col2 {
        max-width: 100%;
        flex-basis: 100%;
      }
  
    .col1 {
      max-width: 100%;
      flex-basis: 100%;
    }
  }



/* Slidebar Nav */

.slidebar-nav{
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity));
    min-width: calc(25% - 15px);
    height: auto;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10;
  
}
.slidebar-wrap{
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid hsl(0, 0%, 93%);;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
}
.slider-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;  
}
.m_2{
    color: #CE2027;
  font-size: 0.941rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 600;
}
.slidebar-link{
    display: flex;
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity));
    justify-content: space-between;
    align-items: center; 
    padding: 1em ;
    list-style: none;
    height: 50px;
    text-decoration: none;
    font-size: 18px;
}

.slidebar-link:hover{
    background-color: #CE2027;
    color: #fff;
    cursor: pointer;
}

.dropdown-link{
    border-top: 1px solid hsl(0, 0%, 93%);
    height: 50px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity));
    font-size: 0.875rem;
    transition: 0.5s ease-in-out;
    
}
.dropdown-link:hover{
    background: #CE2027;
    color: #fff;
    cursor: pointer;
}



/* Card Products */
.wrapper-card{
    min-width: calc(75% - 15px);
   /* margin: 50px auto;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 30px;
    background: rgba(242, 242, 242, 255);
    padding: 1rem 1rem;
}
.card-product{
    background: #fff;
    transition: .3s ease-in-out;
}
.card-product:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transform: scale(1.1);
}
.image-section{
    width: 80%;
    background: #f9f9f9;
    margin: 10px auto 20px;
    position: relative;
}
.content-card{
    padding: 15px 10px;
}
.content-card h2{
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 700;
    background-color: #CE2027;
    background-image: linear-gradient(45deg, #CE2027, #000);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.content-card p{
    margin: 15px 0px;
    font-family: 'Courgette', cursive;
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity));
}

/*pagination*/
.pagination{
    display: flex;
    justify-content:space-around;
    list-style: none;
    cursor: pointer;
    color: #CE2027;
    font-weight: 700;
    padding-top: 10px;
}
.page-item a{
    color: #CE2027;
    font-size: 17px;
}
.page-item a i{
font-size: 22px;
}




